<li id="print" onClick="window.frames[1].focus(); window.frames[1].print(); return false;">
    <a title="Print document">
        <span class="print-button">P</span>
    </a>
</li>
<li class="separator"></li>